button {
  @include button-none;
  cursor: pointer;
}

.button {
  &--white {
    background: #ffffff;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    transition: $default-menu-transition;

    &::before {
      @include defaul-pseudo-element(100%);
      background-size: contain;
      @include centering-pseudo-element;
      background-size: contain;
    }

    &:hover {
      border: 1px solid #326E5B !important;
    }

    &:active {
      border: 1px solid #326E5B !important;
    }
  }

  &--undo {
    background: url("./../../public/img/undo-icon.svg") no-repeat center center;
  }

  &--cansel {
    background: url("./../../public/img/Close_icon.svg") no-repeat center center;
  }

  &--green {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    transition: $default-menu-transition;

    color: #ffffff;
    background: #326e5b;
    border-radius: 100px;

    min-width: 162px;
    display: block;
    padding: 12px 0;

    &:hover {
      background: #408c74;
    }

    &:active {
      background: #2c6050;
      /* gray */

      border: 1px solid #b7bdce;
    }

    &:disabled {
      opacity: 0.5;
      background: #2C6050;
    }
  }

  &--default-mobile-button {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: block;
    width: 100%;
    padding: 14.5px 0;
    border: 1px solid #b7bdce;
    border-radius: 100px;
    color: $help-text-color;
    transition: $slow-menu-transition;

    &:hover {
      border: 1px solid #326E5B !important;
    }

    &:active {
      border: 1px solid #326E5B !important;
    }
  }

  &--view {
    &::before {
      width: 25px;
      height: 25px;
      background-image: url("./../../public/img/circle-view-icon.svg");
    }
  }

  &--more {
    &::before {
      width: 24px;
      height: 24px;
      background-image: url("./../../public/img/more.svg");
    }
  }
}
