button {
  @include button-none;
  cursor: pointer;
}

.button {
  &--white {
    background: #ffffff;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    transition: $default-menu-transition;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      @include defaul-pseudo-element(100%);
      background-size: contain;
      @include centering-pseudo-element;
      background-size: contain;
    }

    &:hover {
      border: 1px solid #326e5b !important;
    }

    &:active {
      border: 1px solid #326e5b !important;
    }

    &--icon {
      transition: $default-menu-transition;
      & svg path {
        transition: $default-menu-transition;
      }

      &:hover {
        background-color: #326e5b !important;

        & svg path {
          fill: #ffffff;
        }
      }
    }
  }

  &--icon {
    transition: $default-menu-transition;
    background-position: center center;
    background-repeat: no-repeat;
    & svg path {
      transition: $default-menu-transition;
    }

    &:hover {
      & svg path {
        fill: $hover-button-color;
      }
    }
  }

  &--green {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    transition: $default-menu-transition;
    color: #ffffff;
    background-color: #326e5b;
    border-radius: 100px;
    min-width: 162px;
    display: block;
    padding: 12px 0;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);

    &:hover {
      color: #326e5b;
      background-color: #ffffff;
    }

    &:disabled {
      opacity: 0.5;
      background: #2c6050;
    }

    & svg rect {
      transition: $default-menu-transition;
    }

    &--icon {
      transition: $default-menu-transition;
      &:hover {
        background-color: #ffffff;

        & svg rect {
          fill: #326e5b;
        }
      }
    }
  }

  &--default-mobile-button {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: block;
    width: 100%;
    padding: 14.5px 0;
    border: 1px solid #b7bdce;
    border-radius: 100px;
    color: $help-text-color;
    transition: $slow-menu-transition;

    &:hover {
      border: 1px solid #326e5b !important;
      background-color: #326e5b !important;
      color: #ffffff;
    }

    &:active {
      border: 1px solid #326e5b !important;
    }
  }

  &--view {
    &::before {
      width: 25px;
      height: 25px;
      background-image: url("./../../public/img/circle-view-icon.svg");
    }
  }

  &--more {
    &::before {
      width: 24px;
      height: 24px;
      background-image: url("./../../public/img/more.svg");
    }
  }

  &--closed-button {
    position: absolute;
    top: 21px;
    right: 10px;
    width: 32px;
    height: 32px;
    background-image: url("./../../public/img/Close_icon.svg");
    background-size: contain;
    cursor: pointer;
    transition: $default-menu-transition;

    &:hover {
      transition: $default-menu-transition;
      background-image: url("./../../public/img/Close_icon--hover.svg");
    }
  }

  &--back-button {
    position: absolute;
    top: 21px;
    left: 10px;
    width: 32px;
    height: 32px;
    background-image: url("./../../public/img/back-button_icon.svg");
    background-size: contain;
    cursor: pointer;
    transition: $default-menu-transition;

    &:hover {
      transition: $default-menu-transition;
      background-image: url("./../../public/img/back-button_icon--hover.svg");
      background-size: contain;
    }
  }
}
