// Sizes
$mobile-max-width: 750px;

// Colors
$main-text-color: #000000;
$button-text-color: #548677;
$menu-list-bg: #f8f9fc;
$main-bg-color: #ffffff;
$help-text-color: #444444;
$hover-button-color: #326e5b;
$button-color: #326e5b;
$modal-top-bg: #f5f2f3;
$added-group-text-color: #b7bdce;
$added-period-text-color: #b7bdce;
$input-button-default-color: #ececec;

//Transitions
$default-menu-transition: 0.65s;
$slow-menu-transition: 1s;
