.add-person-header {
  background: #548677;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: $default-menu-transition;
}

.add-person {
  width: 73.2vw;
  left: 25.625vw;

  & .modal__add-input {
    width: 100%;
    border-radius: 8px;
  }

  &--step-2 {
    z-index: 100;
    & .add-person__main-content {
      display: flex;
      flex-grow: 1;
    }

    & .add-person__form {
      width: 100%;
    }

    & .add-person__part--left {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &--step-3 {
    z-index: 101;
    gap: 0;
    justify-content: flex-start;

    & .add-person__main-content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    & .add-person__part--left,
    & .add-person__part--right {
      margin-top: auto;
      height: fit-content;
    }
  }

  &--step-3__form {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
  }

  &--succesful {
    padding: 40px 65px 25px 65px;
    width: 40.625vw;
    min-height: 328px;
    top: 28.47vh;
    left: 41.95vw;
  }
}

.add-person__part {
  &--left {
    display: flex;
    flex-direction: column;
  }

  &--right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &--top {
    min-width: 100%;
    margin-bottom: auto;
  }
}

.add-person__main-content {
  padding: 16px 65px 22px 65px;
}

.add-person__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
}

.male-and-avatar {
  display: flex;
  align-items: center;
  gap: 30px;
}

.add-person__male-container {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.add-person__life-description-label {
  margin-bottom: 12px;
}

.add-person__life-description {
  padding: 14px 10px;
  box-sizing: border-box;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #000000;
  margin-bottom: 30px;
  height: 149px;
  background: #ffffff;
  border: 1px solid rgba(183, 189, 206, 0.3);
  border-radius: 8px;
  width: 100%;
  transition: $default-menu-transition;

  &::placeholder {
    color: #b7bdce;
  }

  &:hover {
    transition: $default-menu-transition;
    border-color: #000000;
  }
}

.add-person__steps-list {
  display: flex;
  gap: 8px;
  margin-top: auto;
}

.add-person__steps-item {
  width: 48px;
  height: 48px;
  display: flex;
  border-radius: 50%;
  border: 1px solid #b7bdce;
  align-items: center;
  justify-content: center;

  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  /* Black */

  color: #444444;
  position: relative;

  &::before {
    @include defaul-pseudo-element(8px, 1px);
    @include centering-hight-pseudo-element;
    background: #b7bdce;
    right: -9px;
  }

  &--active {
    background: #8dbeaf;
    /* green */

    border: 1px solid #326e5b;
    color: #ffffff;
    &::before {
      background: #326e5b;
    }
  }

  &--finish {
    &::before {
      content: none;
    }
  }
}

.male-and-avatar {
  margin-bottom: 50px;
}

.add-person__content-title {
  margin-bottom: 21px;
}

.add-person__right-top-part__input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-person__general-info {
  margin-bottom: 26px;
}

.add-person__button-next {
  width: 191px;
  margin-left: auto;
  margin-top: auto;
  height: 50px;

  &--3-skip {
    border: 1px solid #b7bdce;
    background-color: #ffffff;
    color: $help-text-color;
  }
}

.add-person__avatar-input {
  display: none;
}

.add-person__avatar-label {
  position: absolute;
  width: 56px;
  height: 56px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gray */

  border: 1px solid #b7bdce;
  border-radius: 50%;
  cursor: pointer;
  bottom: -21.5px;
  @include centering-width-pseudo-element;

  & path {
    transition: $default-menu-transition;
  }

  &:hover {
    & path {
      transition: $default-menu-transition;
      fill: $hover-button-color;
    }
  }

  & .active-svg {
    display: none;
  }

  &--active {
    & svg {
      display: none;
    }

    & .active-svg {
      display: block;
    }
  }
}

.add-person__avatar-container {
  position: relative;
  height: 180px;
  width: 180px;
}

.add-person__avatar-img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

.add-person__button {
  right: 26px;
  @include centering-hight-pseudo-element;
}

.add-person__circle-title {
  margin-bottom: 30px;
}

.add-person__circle-container {
  width: 302px;
  height: 302px;
  position: relative;
  padding-top: 84px;

  &--required {
    & .add-persone-circle-input-error {
      display: block !important;
    }

    & .add-person__circle-label {
      color: #f23434;

      &::before {
        border-color: #f23434;
      }
    }
  }
}

.add-person__circle-input-container {
  position: relative;
  left: -20px;
  top: -20px;
  height: 31px;
  width: 167px;
  &::before {
    @include defaul-pseudo-element(167px);
    background: url(./../../public/img/add-person-circle.svg) no-repeat bottom
      left;
    background-size: contain;
    bottom: -27px;
  }

  & .add-person__circle-label {
    right: 48px;
    bottom: -9px;
  }

  &--2 {
    width: 212px;
    &::before {
      @include defaul-pseudo-element(212px);
      bottom: -40px;
    }

    & .add-person__circle-label {
      right: 60px;
    }
  }

  &--3 {
    width: 257px;
    &::before {
      @include defaul-pseudo-element(257px);
      bottom: -53px;
    }

    & .add-person__circle-label {
      right: 60px;
    }

    & .add-person__circle-input-mini-avatar {
      left: 78%;
    }
  }

  &--4 {
    width: 302px;
    &::before {
      @include defaul-pseudo-element(302px);
      bottom: -66px;
      background-image: url(./../../public/img/add-person-circle-4.svg);
    }

    & .add-person__circle-label {
      right: 74px;
      bottom: -2px;
    }

    & .add-person__circle-input-mini-avatar {
      left: 76%;
      top: -2px;
    }
  }
}

.add-person__circle-img {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.add-person__circle-input-container {
  position: relative;
}

.add-person__circle-input {
  display: none;
}

.add-person__circle-label {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #326e5b;

  transform: rotate(-35deg);
  position: absolute;
  display: inline-block;
  z-index: 20;

  &::before {
    @include defaul-pseudo-element(31px);
    border: 1px solid #326e5b;
    background: #ffffff;
    border-radius: 50%;
    top: 3px;
    right: -35px;
    &:hover {
      cursor: pointer;
    }
  }

  &--no-circle {
    &::before {
      content: none;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.add-person__circle-input-flex {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.add-person__circle-input-mini-avatar {
  border-radius: 50%;
  position: absolute;
  left: 73%;
  top: 4px;
  width: 31px;
  height: 31px;
  z-index: 21;
}

.add-persone-circle-input-error {
  display: none;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: #f23434;
  margin-top: 40px;
}

.period-choose-input-container {
  position: relative;
}

.period-choose__content-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.period-choose__title {
  margin-bottom: 20px;
}

.period-choose {
  opacity: 0;

  &--shown {
    opacity: 1;
    transition: $default-menu-transition;
  }
}

.add-person__all-periods__select-container {
  width: fit-content;
}

.add-person__all-periods__input {
  display: none;

  &:checked + .add-person__all-periods__label {
    &::after {
      left: 28px;
      background: #ffffff;
    }
    &::before {
      background: $button-color;
    }
  }
}

.add-person__all-periods__label {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;

  color: $help-text-color;
  padding-left: 81px;

  &:hover {
    cursor: pointer;
  }

  &::before {
    @include defaul-pseudo-element(60px, 34px);
    background: $input-button-default-color;

    border: 1px solid #b7bdce;
    border-radius: 20px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 1s;
  }

  &::after {
    @include defaul-pseudo-element(26px);
    background: #b7bdce;
    border-radius: 50%;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    transition: 1s;
  }
}

.add-person__all-periods-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 31px 0;

  &:not(:last-of-type) {
    border-bottom: 1px solid #b7bdce;
  }
}

.add-person__block-title {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height, or 125% */

  text-align: center;

  /* Black */

  color: #444444;
  margin-top: 38px;
  margin-bottom: 31px;
}

.add-person__all-periods__filers {
  opacity: 1;
  transition: $default-menu-transition;

  &::after {
    content: none;
  }

  & .filters__select {
    padding: 14px 10px;
    height: fit-content;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  &--unchecked {
    opacity: 0.5;
  }

  & .filters__filter {
    padding: 0;
  }

  & .select-list--opened {
    & .filters__filter {
      padding: 16px;
    }
  }
}

.add-person--succesful__button {
  width: 38.46%;
  margin: 0 auto;
}

.add-person--succesful__title {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;

  color: $help-text-color;
}

.add-person--succesful__img {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}
