.circle {
  position: absolute;
  border-radius: 50%;

  &::before {
    top: 0;
  }

  &--1 {
    width: 73.5%;
    padding-top: 73.5%;
    top: 75px;
    left: 14.8%;

    &::before {
      @include defaul-pseudo-element(100%);

      background: url("./../../public/img/circle--1.svg") no-repeat center top;
      background-size: contain;
    }

    & .circle__img {
      width: 4.4%;
      height: auto;

      &--1 {
        left: -1.2%;
        top: 300px;
      }

      &--2 {
        left: 5%;
        top: 155px;
      }

      &--3 {
        left: 28.5%;
        top: 13px;
      }

      &--4 {
        right: 35.1%;
        top: -4px;
      }

      &--5 {
        right: 6.5%;
        top: 138px;
      }

      &--6 {
        right: -0.8%;
        top: 262px;
      }
    }
  }

  &--2 {
    top: 153px;
    left: 23%;
    padding-top: 57.3%;
    width: 57.3%;

    &::before {
      @include defaul-pseudo-element(100%);
      background: url("./../../public/img/circle--2.svg") no-repeat center top;
      background-size: contain;
    }

    & .circle__img {
      width: 5.6%;
      height: auto;

      &--1 {
        left: -2.5%;
        top: 275px;
      }

      &--2 {
        left: 4.6%;
        top: 126px;
      }

      &--3 {
        left: 19.45%;
        top: 30px;
      }

      &--4 {
        left: 46.5%;
        top: -16px;
      }

      &--5 {
        right: 20.1%;
        top: 30px;
      }

      &--6 {
        right: 4%;
        top: 126px;
      }

      &--7 {
        right: -3%;
        top: 275px;
      }
    }
  }

  &--3 {
    width: 41.25%;
    padding-top: 41.25%;
    top: 230px;
    left: 31%;

    &::before {
      @include defaul-pseudo-element(100%);
      background: url("./../../public/img/circle--3.svg") no-repeat center top;
      background-size: contain;
    }

    & .circle__img {
      width: 7.8%;
      height: auto;

      &--1 {
        left: -4%;
        top: 203px;
      }

      &--2 {
        left: -2.7%;
        top: 149px;
      }

      &--3 {
        left: 0.5%;
        top: 102px;
      }

      &--4 {
        left: 8.5%;
        top: 53px;
      }

      &--5 {
        left: 20.2%;
        top: 16px;
      }

      &--6 {
        left: 33.3%;
        top: -8px;
      }

      &--7 {
        right: 43.1%;
        top: -16px;
      }

      &--8 {
        right: 29.5%;
        top: -1px;
      }

      &--9 {
        right: 14.4%;
        top: 30px;
      }

      &--10 {
        right: 6.3%;
        top: 71px;
      }

      &--11 {
        right: 0;
        top: 118px;
      }

      &--12 {
        right: -4%;
        top: 172px;
      }

      &--13 {
        right: -4%;
        top: 221px;
      }
    }
  }

  &--4 {
    width: 24.5%;
    padding-top: 24.5%;
    top: 310px;
    left: 39.2%;

    &::before {
      @include defaul-pseudo-element(100%);
      background: url("./../../public/img/circle--4.svg") no-repeat center top;
      background-size: contain;
    }

    & .circle__img {
      width: 13.1%;
      height: auto;

      &--1 {
        left: -2.5%;
        top: 141px;
      }

      &--2 {
        left: -4.6%;
        top: 77px;
      }

      &--3 {
        left: 8.9%;
        top: 22px;
      }

      &--4 {
        left: 32.2%;
        top: -9px;
      }

      &--5 {
        right: 25.4%;
        top: -4px;
      }

      &--6 {
        right: 3.4%;
        top: 34px;
      }

      &--7 {
        right: -1.7%;
        top: 90px;
      }

      &--8 {
        right: -3%;
        top: 141px;
      }
    }
  }
}

.circle__img {
  position: absolute;
  cursor: pointer;
  transition: $default-menu-transition;

  &:hover {
    scale: 1.2;
  }
}
