.edit-group-form__label {
  position: absolute;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  /* gray */

  color: #b7bdce;
  left: 10px;
  top: 4px;
}

.edit-group-form__input {
  border-radius: 8px;
  &--with-value {
    padding-top: 20px;
    padding-bottom: 8px;
  }
}
