.help {
  //TODO technic
  height: 100%;
  background: rgba(0, 0, 0, 0.77);
  padding: 20px 0;
  box-sizing: border-box;
}

.help__list {
  @include list-none;
}

.help-block {
  width: 54.1%;

  //TODO technic
  margin: 0 auto;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.help-block__top-part {
  position: relative;
  padding: 22px 20px;
  box-sizing: border-box;
  background: #f5f2f3;
  border: 1px solid #f0f4f7;
  border-radius: 15px 15px 0px 0px;
}

.help-block__title {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;

  text-align: center;

  color: $help-text-color;
  margin: 0;
}

.help-block__closed-button {
  position: absolute;
  top: 21px;
  right: 10px;
  width: 32px;
  height: 32px;
  background: url("./../../public/img/Close_icon.svg");
  cursor: pointer;
  transition: $default-menu-transition;

  &:hover {
    // TODO
  }
}

.help-block__bottom-part {
  padding: 19px 28px 24px 28px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #f0f4f7;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  flex-direction: column;
  min-height: 208px;
  justify-content: space-between;
}

.help-block__text {
  margin: 0;
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;

  color: $help-text-color;

  &--bold {
    font-weight: 700;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.help-block__button-next {
  background: #326e5b;
  border-radius: 100px;
  width: 252px;
  display: block;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;

  color: #ffffff;
  padding: 15px 15px;
  box-sizing: border-box;
  margin: 0 auto;
  cursor: pointer;
  transition: $default-menu-transition;

  &:hover {
    // TODO
  }
}
