.view-list__item {
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.view-list__button {
  transition: $default-menu-transition;
  &:hover {
    & svg circle,
    & svg path {
      stroke: #548677;
    }
  }
}
