<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="proximaNova.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter&family=Source+Serif+Pro:wght@400;600;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="main.css" />
  <style>
    body {
      margin: 0;
    }

    .preloader {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      background-color: #21d4fd;
      background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
      z-index: 1001;
      color: #eee;
    }

    .preloader__image {
      position: relative;
      top: 50%;
      left: 50%;
      width: 70px;
      height: 70px;
      margin-top: -35px;
      margin-left: -35px;
      text-align: center;
      animation: preloader-rotate 2s infinite linear;
    }

    @keyframes preloader-rotate {
      100% {
        transform: rotate(360deg);
      }
    }

    .loaded_hiding .preloader {
      transition: 0.3s opacity;
      opacity: 0;
    }

    .loaded .preloader {
      display: none;
    }
  </style>
  <script>
    window.onload = function () {
      document.body.classList.add("loaded_hiding");
      window.setTimeout(function () {
        document.body.classList.add("loaded");
        document.body.classList.remove("loaded_hiding");
      }, 500);
    };
  </script>
  <title>Document</title>
</head>

<body class="page">
  <!-- Прелоадер -->
  <div class="preloader">
    <svg class="preloader__image" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path fill="currentColor"
        d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z">
      </path>
    </svg>
  </div>

  <!-- Technical Header -->
  <header class="main-header">
    <a href="index.html" class="main-header__link">Круги (База)</a>
    <a href="help.html" class="main-header__link">Помощь</a>
    <a href="#" class="main-header__link">Круги (Мобилка)</a>
    <a href="mobile-under-menu.html" class="main-header__link">Мобилка (Выбор под меню)</a>
  </header>

  <header class="content-header">
    <div class="content-header__container container">
      <img src="img/logo-mobile.svg" alt="Nasledie.digital капсулы времени." class="content-header__logo" />

      <button class="content-header__mobile-menu-button">
        <span class="visually-hidden">Открыть меню</span>
      </button>
    </div>
  </header>

  <main class="main-content">
    <section class="under-menu">
      <div class="under-menu__top-menu top-menu">
        <button class="top-menu__button button--view button--white"><span class="visually-hidden">Изминить способ
            отображения</span></button>

        <div class="top-menu__periods-slider-container periods-slider">
          <button class="periods-slider__controler periods-slider__controler--left"><span
              class="visually-hidden">Назад</span></button>

          <ul class="periods-slider__list">
            <li class="periods-slider__item periods-slider__item--active">
              <p class="periods-slider__text">1978 - 1982</p>
            </li>
            <li class="periods-slider__item">
              <p class="periods-slider__text">2222 - 2222</p>
            </li>
            <li class="periods-slider__item">
              <p class="periods-slider__text">3333 - 3333</p>
            </li>
          </ul>

          <button class="periods-slider__controler periods-slider__controler--right"><span
              class="visually-hidden">Вперёд</span></button>
        </div>

        <button class="top-menu__button button--more button--white"><span class="visually-hidden">Больше</span></button>
      </div>

      <div class="under-menu__persons persons">
        <div class="circles-main__circle circle circle--4 circle--mobile">
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--1">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--2">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--3">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--4">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--5">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--6">
          </div>
        </div>

        <div class="circles-main__circle circle circle--3 circle--mobile">
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--1">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--2">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--3">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--4">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--5">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--6">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--7">
          </div>
        </div>

        <div class="circles-main__circle circle circle--2 circle--mobile">
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--1">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--2">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--3">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--4">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--5">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--6">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--7">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--8">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--9">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--10">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--11">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--12">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--13">
          </div>
        </div>

        <div class="circles-main__circle circle circle--1 circle--mobile">
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--1">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--2">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--3">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--4">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--5">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--6">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--7">
          </div>
          <div class="circle__img-container">
            <img src="img/person-avatar.png" width="31" height="31" alt="Name." class="circle__img circle__img--8">
          </div>
        </div>

        <img src="img/user-avatar.png" alt="Name." width="100" height="100" class="circles-main__user-avatar">
      </div>
    </section>
  </main>
  <script src="bundle.js"></script>
</body>

</html>
